:root {
  // Typography
  --font-family-red-hat: 'Red Hat Display', sans-serif;
  --font-size-400: 1.375rem;
  --font-size-300: 0.9375rem;
  --font-size-200: 0.9375rem;
  --font-size-100: 0.8125rem;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 900;

 // Colors
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);
  --raw-bright-blue: 245, 75%, 52%;
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

@media (min-width: 48rem) {
  :root {
    --font-size-400: 1.75rem;
    --font-size-300: 1rem;
    --font-size-200: 0.9375rem;
    --font-size-100: 0.875rem;
  }
}

